@window-width: 800px;

.test {
  background: #CCC;
  width: (1+1);
}
body {
  margin: 0px;
  .app {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    // transition: all 0.5s ease-out;
  }
  #daisy {
    z-index: 5;

    &.hide {
      left: -@window-width;
      // transition: all 0.5s ease-out;
    }
  }
  #backBtn {
    position: absolute;
    left: 0px;
    bottom: 0px;
    z-index: 10;
    background-color: #FFF;
    a {
      color: #000;
    }
    border: 1px solid #bc213f;
  }
}
