//Set Vers
@window-width: 800px;
@std-background: #f2f2f2;
@item-background: #FFF;
@red-background: #d9534f;
@shadow: #aab2bd;

//Set Mixins
.setAni(@animation) {
  animation-duration: 2s;
  animation-name: @animation;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}
.touch() {
  width: 50px;
  height: 50px;
}

//Fuer die ShowTouch animation
@keyframes showMenuTouch {
  from {
    left: 700px;
    opacity: 0;
  }
  10% { opacity: 1; }
  to { left: 300px; }
}
@keyframes showAppList {
  from { right: -400px; }
  to { right: 0px; }
}

body {
  font-family: 'Ruda', sans-serif;
  overflow: hidden;
  margin: 0px;
  //Fuer showTouch
  #touch {
    position: absolute;
    top: -200px;
    z-index: 99;
    width: 200px;
    height: 100px;

    #touch1 {
      .touch();
    }
    #touch2 {
      position: relative;
      top: -10px;
      .touch();
    }
    #touch3 {
      .touch();
    }

    //Diese Classe wird zu #touch hinzugefuegt, um die Animation zu starten.
    &.menu {
      top: 50%;
      .setAni(showMenuTouch);
    }
  }
  //Die App-liste oder Tab liste die von links auftaucht.
  #app_liste {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100%;
    width: 400px;
    z-index: 11;
    background: @std-background;
    box-shadow: 0px 3px 2px @shadow;
    opacity: 0.9;
    //Dort sind die Zurueck und Vor Buttons zu finden
    #appListNavigation {
      padding: 5px 15px 5px 15px;
      margin: 0px;
      button {
        width: 50%;
        height: 30px;
      }
    }
    //Beenden Button, wird normalerweisse ausgestell
    #end {
      display: none; //Durch auskommentieren oder loeschen wird der Beenden Button hinzugefuegt.
      position: absolute;
      background: @red-background;
      width: 80%;
      height: 30px;
      color: white;
      font-weight: bolder;
      bottom: 5px;
      left: 10%;
    }
    //Die App Liste selber
    ul {
       list-style-type: none;
       padding-left: 15px;
       padding-right: 15px;
       margin: 0px;

       //Die Main- App (ganz oben)
       #listMainApp {
         margin-bottom: 15px;
       }
       //Die Anderen App's
       li {
         &.active {
           background-color: @red-background;
           border-color: white;
           color: white;
           font-weight: bold;
           transition: all 0.5s ease-out;
         }
         display: inline-flex;
         width: 95%;
         background: @item-background;
         min-height: 20px;
         max-height: 60px;
         padding: 10px 10px 10px 10px;
         margin-bottom: 3px;
         box-shadow: 0px 3px 2px @shadow;
         border: 1px solid #bc213f;
         text-align: left;
         vertical-align: middle;
         &:hover {
           background: @red-background;
           color: #FFF;
           transition: all 0.5s ease-out;
         }

         img {
           margin-right: 10px;
           left: 0px;
           top: 0px;
           height: 16px;
           width: 16px;
         }
         span.title {
           width: calc(~"100% - 50px");
           display: inline-block;
         }
         span.closeBtn {
           width: 20px;
           text-align: center;
         }
         cursor: pointer;
       }
    }
    //Die Class wird hinzugefuegt, damit die Liste 'hereinfliegt'
    &.flyin {
      display: block !important;
      .setAni(showAppList);
    }
  }
  //Jede App hat diese Grunddefinition
  .app {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  //Dies ist speziell fuer die MainApp
  #app_daisy {
    z-index: 5;

    &.hide {
      left: -@window-width;
    }
  }
  //Fuer den Notifications Center
  #notifications {
    position: absolute;
    right: 20px;
    top: -70px;
    min-width: 300px;
    max-width: 800px;
    min-height: 20px;
    max-height: 60px;
    border: @red-background 1px solid;
    z-index: 99;
    transition: all 0.5s ease-out;
    padding: 20px 30px 20px 30px;
    opacity: 0.9;
    //Ist der Input, der ggf. bei einer Abfrage angezeigt wird.
    #nInput {
      width: 90%;
    }
    //Diese Klassen blenden die Notifications ein.
    &.info {
      top: 20px;
      color: white;
      background-color: @red-background;
      transition: all 0.5s ease-out;
    }
    &.error {
      top: 20px;
      color: white;
      background-color: @red-background;
      transition: all 0.5s ease-out;
    }
    &.getName {
      top: 20px;
      color: white;
      background-color: @red-background;
      transition: all 0.5s ease-out;
    }
  }
}
